 /* heder style */
 header{
    background-image: url(Assets/Hero-bg.png);
    background-size: cover;
    min-height: 100vh;
 }


 .title{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
 }
 .title h3{
    color:#4E47FF;
    margin: top 12px; ;
    
 }
 .title a {text-decoration: none;
    background-color: #4E47FF;
    color:white;
  padding: 12px 36px;
  border-radius: 12px;
  border-style: none;
  border-sizing:border-box;

  margin-top: 12px;


}
.header-description{
    text-align: center;
    margin-top: 158px;
}
.header-description a {
    background-color: #4E47FF;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 12px 36px;
}
  /* main style */


  .main-title{
    color:#252432 bold;
  }
 .subtitle {
        color:#252432;
        opacity: 50%;
          }
          .action-setion a{
            background-color: #4E47FF;
            color: white;
            text-decoration: none;
            border-radius: 10px ;
            padding: 12px 36px;
          }
          .action-setion{
           margin-top:36px ;
          }
         .poto {
          width: 403px;
          height: 328px;
          border-radius: 48px;                                                                        
            
          
          } 
          main{
            display: flex;
            justify-content: space-between;
            max-width: 1140px;
           padding: 130PX 150px;
            text-align: center;
            margin-top: 130px; }

          /*saction style */
          
          .main-conter{
            background-color: white;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 120vh;
            margin: 0;
           

          }
          .continer{
            background-color: #9c99ef;
            
            
           
            
            border-radius: 10px;
            padding: 30px;
            box-shadow: 0 4px 8px rgba( 0,  0 , 0  ,0.1);
            
            
          }

          .hading-contener{
            font-size: 38px ;
            margin-bottom: 30px;
            color: #252432;
            font-weight: bold;
            
          }
          .start {display: flex;
            justify-content: space-around;
            align-items: flex-end;
            gap: 20px;


          }
          .title-start{
            font-size: 80px;
            font-weight: bold;
            color:#4F49F2;
            line-height: 1;
          }
          .labele-start {
            font-size: 20px;
            margin-top: 5px;
          }
          /* foter sryle */
           footer{
            display: flex;
            justify-content: space-between;
             max-width: 1140px;
           padding: 130PX 150px;
            text-align: center;
            margin-top: 130px; 
            border-radius: 39px;
           }
           .section-title-from{
            font-size: 65px;
            font-weight: bold;
            line-height: 120%;
            margin-top: 97px;

           }
           .from-23{
            margin-top: 71px;
         padding-right:11% ;
         font-size:15px ;
           }
           .from-23 h3 {
             text-align: start;
             margin-bottom: 0%;
           }
              
            .box-1 {
              padding: 5px 20px ;
              justify-content: flex-end;
            }
            
            .box-2{
              padding: 25px 20px;
              
            }
          .button{
            padding: 5px 20px;
            background-color: #4F49F2;
            color: white;
          }
           .div{
            text-align: center;
           }
           .logo{
            font-size: 100px;
            color: #4F49F2;
            text-align: center;
            margin-bottom: 0;
           }
           .caption{
            text-align: center;
            color: #8987A1;
            font-size: 34px;
           
           }
          .apple{
            text-align: center;
            
            color: #8987A1;
            
            display: inline;
            padding: 10px 10px 10px 10px;
            margin-left: 200px;
            margin-top: 200px;
            
            
          }
           
          
          
           
          

           